.main-section .hero-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 3rem;
    padding: 2rem;
    gap: 1rem;
}
.main-section .hero-section h1{
    font-size: 3rem;
    font-weight: 400;
    line-height: 54px;
    
}

.main-section .hero-section p{
    font-size: 1.125rem;
    font-weight: 400;
}
/* .main-section .hero-section p .pcenter{
    text-align: center;
} */
.main-section .hero-section img{
    border: 2px solid #185403;
    width: 650px;
}