.main-section .hero-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 3rem;
    padding: 2rem;
    gap: 1rem;
}
.main-section .hero-section h1{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin-top: 20px;
    text-align: center;
}
.main-section .hero-section p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height:2rem;
    text-align: center;
}
.main-section .hero-section img{
    border: 2px solid #185403;
    width: 650px;
}
/* products section */
.over_veiw{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding:25px;
    width: 800px;
    margin: 50px auto;
    border-radius: 8px;
    gap: 5px;
}
.over_veiw span{
    display: flex;
    gap: 5px;
    padding: 0;
}

.over_veiw span img{
   width: 30PX;
   height: 30px;
   border-radius: 5px;
}
.over_veiw p{
    padding-left: 30px;
}
.sapp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    justify-content: space-between;

}
.card_sa{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f5f4f4;
    
}
.card_sa span {
    display: flex;
    align-items: center;
    gap: 5px;
}
.card_sa span img{
    width: 35px;
    height: 35px;
    border: 2px solid #185403;
    border-radius: 5px;
}
.card_sa p{
    margin-left:25px;
}
.card_sa:hover{
    background-color: #9bbd8f;
    border-radius: 8px;

}
/* lg */
@media (max-width: 1024px){
     .main-section{
     max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-section h1{
    font-size: 4rem;
    font-weight: 700;
    padding: 10px;
    line-height: 54px;
    margin-top: 20px;
  }
  .hero-section p{
    font-size: 2rem;
    font-weight: 400;
    line-height:1.5rem ;
    text-align: center;
  }
  .over_veiw{
    width: 750px;
  }
  .over_veiw p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 5px;
  }
  .sapp{
    gap: 10px;
    padding-right: 20px;
  }
  .card_sa{
   width: 380px;
    margin: 10px auto;
    padding: 20px;
   

  }
  .card_sa h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
  }
  .card_sa p{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 5px;
    
  }
  

}
 
/* md */
@media (max-width: 768px) {
    .main-section{
        max-width: 100%;
      }
        .hero-section{
          max-width: 100%;
          /* background-color: #45df03; */
        }
        .hero-section h1{
          font-size: 1rem;
          font-weight: 500;
          padding: 10px;
          line-height: 11px;
          margin-top: 20px;
          max-width: 1000px;
        }
        .sapp{
          max-width: 100%;
          gap: 10px;
          
        }
        .card_sa{
         width: 380px;
          margin: 10px auto;
          padding: 20px;
          border-radius: 8px;
      
        }
        .card_sa h3{
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2rem;
          text-align: center;
        }
        .card_sa p{
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.5rem;
          padding: 5px;
          
        }
        .over_veiw{
          width: 750px;
        }      

}

/* sm */
@media (max-width: 640px) {
                         
    .hero {
        flex-wrap: wrap;
        width: 100%;
      }
      .hero img {
        width: 100%;
      }
      .main-section .hero-section h1 {
        line-height: 3rem;
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
      }
     
      .main-section .hero-section p {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.5rem;
      }
      .main-section .hero-section img {
        max-width: 400px;
      }
      .over_veiw{
        max-width: 100%;
      }
      .sapp{
        display: flex;
        flex-direction: column;
        }
      .card_sa{
        width: 100%;
      
      }
}

/* xs */
@media (max-width: 475px) {
      img {
        max-width: 100%;
        
      }

      .main-section .hero-section h1 {
        line-height: 1.8rem;
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
      }
     
      .main-section .hero-section p {
        font-size: 1rem;
        line-height: 1.5rem;

      }
      .main-section .hero-section img {
        max-width: 300px;
      }
      .over_veiw{
        max-width: 100%;
      }
      .sapp{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        
        }
}