header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header .logo{
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 3px;
}
header .logo img{
    height: 20%;
    max-width:10%;
    border-radius: 50%;
}
header .logo h1{
    font-size: 1.5rem;
    line-height: 11px;
}
header .mode{
    padding-right: 20px;
    font-size: 1.5rem;
}
.hero-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
  
    margin-top: 100px;
    padding: auto;
   
   
}
.hero-section image{
    width:100%;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #4f8b37; */
    padding:30px 20px ;
    
}
.hero h1{
    font-size: 3rem;
    line-height: 3.3rem;
    font-weight: 500;
}
.hero p{
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 400;
}

.hero .cta-btn{
    background-color: green;
    width: 150px;
    padding: 10px 15px;
    border: 1px solid #eee;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
}
.hero .cta-btn:hover{
    background-color: #4f8b37;
}
.hero-section img{
    width: 334px;
    height: 261;
}