
.hero-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top:20px;
    padding: auto;   
}
.hero-section image{
    width:100%;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #4f8b37; */
    padding:30px 20px ;
    
}
.hero h1{
    font-size: 3rem;
    line-height: 3.3rem;
    font-weight: 500;
}
.hero p{
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 400;
}

.hero .cta-btn:hover{
    background-color: #7cdf3f
}
.hero-section img{
    width: 334px;
    height: 261;
}