/* 2xl */
/* @media (max-width: 1400px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */

.container {
  max-width: 1400px;
  margin: auto;
  padding-inline: 0.5rem;
}
/* lg */
@media (max-width: 1024px) {
  header{
    justify-content: center;
  }
  header .navlink{
    background-color: red;
    margin-right:150px;
    margin-top: 8px;
  }
  header .navlink ul{
    justify-content: center;
    align-items: center;
  }
  header .navlink a{
    padding-left: 10px;
  }
  .container{
    max-width: 768px
  }
  .main-section{
    max-width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-section{
    max-width: 100%;
    /* background-color: #ffff7b; */
  }
  .hero-section h1{
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    line-height: 54px;
    margin-top: 20px;
  }
 
}
/* md */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navlink {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s;
   
  }
  .navlink{
    flex-direction: column;
    width: 100%;
  }
  .navlink .log-in ul{
    flex-direction: column;
    gap: 1rem;
   padding-top: 5px;
    
  }
  header ul{
  flex-direction: column;
  width: 100%;
  background-color: #fff; 
  gap: 1rem;
  margin-top: 5px;
 
 /* justify-content: center; */
 }
 
 header ul li{
  text-align: center;
 }
 header ul li a{
  padding: 18px;
  line-height: 20px;
 }
  header.active .navlink{
    max-height: 300px;
    opacity: 1;

  }
  header.active .toggle-button .bar:nth-child(2){
    opacity: 0;
  } 
  header.active .toggle-button .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  }
  header.active .toggle-button .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
.main-section{
    max-width: 100%;
    /* background-color: rebeccapurple; */
  }
  .sapp{
    display: flex;
    flex-wrap: wrap;
   max-width: 100%;
    }

    .hero-section{
      max-width: 100%;
      /* background-color: #45df03; */
    }
    .hero-section h1{
      font-size: 1rem;
      font-weight: 500;
      padding: 10px;
      line-height: 11px;
      margin-top: 20px;
      background-color: red;
      max-width: 1000px;
    }
}
/* sm */
@media (max-width: 640px) {
  .container{
    padding-inline: 0.5rem;
    max-width: 100%;
  }
  .hero {
    flex-wrap: wrap;
    width: 100%;
  }
  .hero img {
    width: 100%;
  }
  .main-section .hero-section h1 {
    width: 100%;
  }
  .main-section .hero-section p {
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
  }
  .main-section .hero-section img {
    max-width: 400px;
  }
  .over_veiw{
    max-width: 100%;
  }
  .sapp{
    display: flex;
    flex-direction: column;
    background-color: #ffff7b;
    }
  .card_sa{
    max-width: 100%;
    background-color: red;
  }
 

}
/* xs */
@media (max-width: 475px) {
  header .mode{
    position: absolute;
    top: 10px;
    right: 20px;
    margin-right: 10px;

  }
  header .logo{
   width: 100%;
  }
  .hero {
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-top: 20px;
  }
  img {
    width: 100%;
  }
  .over_veiw{
    max-width: 100%;
  }
  .sapp{
    display: flex;
    flex-direction: column;
    /* background-color: #ffff7b; */
    }
 
}
